
[submodule "src/Xela-Sensor-Controllers-Openteach"]
	path = src/Xela-Sensor-Controllers-Openteach
	url = https://github.com/NYU-robot-learning/Xela-Sensor-Controllers-Openteach.git
[submodule "src/kinova-arm-controller-Openteach"]
	path = src/kinova-arm-controller-Openteach
	url = https://github.com/NYU-robot-learning/kinova-arm-controller-Openteach.git
[submodule "src/Allegro-Hand-Curved-Openteach"]
	path = src/Allegro-Hand-Curved-Openteach
	url = https://github.com/NYU-robot-learning/Allegro-Hand-Curved-Openteach.git
